In [1]:
# Exo 1.1

print("Hello World !")

Hello World !

In [4]:
from sklearn import datasets
print(datasets.__all__)

['clear_data_home', 'dump_svmlight_file', 'fetch_20newsgroups', 'fetch_20newsgroups_vectorized', 'fetch_lfw_pairs', 'fetch_lfw_people', 'fetch_olivetti_faces', 'fetch_species_distributions', 'fetch_california_housing', 'fetch_covtype', 'fetch_rcv1', 'fetch_kddcup99', 'fetch_openml', 'get_data_home', 'load_boston', 'load_diabetes', 'load_digits', 'load_files', 'load_iris', 'load_breast_cancer', 'load_linnerud', 'load_sample_image', 'load_sample_images', 'load_svmlight_file', 'load_svmlight_files', 'load_wine', 'make_biclusters', 'make_blobs', 'make_circles', 'make_classification', 'make_checkerboard', 'make_friedman1', 'make_friedman2', 'make_friedman3', 'make_gaussian_quantiles', 'make_hastie_10_2', 'make_low_rank_matrix', 'make_moons', 'make_multilabel_classification', 'make_regression', 'make_s_curve', 'make_sparse_coded_signal', 'make_sparse_spd_matrix', 'make_sparse_uncorrelated', 'make_spd_matrix', 'make_swiss_roll']

In [5]:
# Exo 1.2

import numpy as np 
dataset = np.loadtxt("../../data/pl.csv", dtype={'names': ('name', 'year'), 
       'formats': ('U100', 'i4')}, 
        skiprows=1, delimiter=",", encoding="UTF-8") 
print(dataset)

[('ENIAC coding system', 1943) ('ENIAC Short Code', 1946)
 ('Von Neumann and Goldstine graphing system', 1946)
 ('ARC Assembly', 1947) ('Plankalkül', 1948) ('CPC Coding scheme', 1948)
 ('Curry notation system', 1948) ('Short Code', 1949)
 ('assembly language', 1949) ('Short Code', 1950) ('G-code', 1950)
 ('Birkbeck Assembler', 1950) ('Superplan', 1951) ('ALGAE', 1951)
 ('Intermediate Programming Language', 1951)
 ('Regional Assembly Language', 1951)
 ('Boehm unnamed coding system', 1951) ('Klammerausdrücke', 1951)
 ('OMNIBAC Symbolic Assembler', 1951) ('Stanislaus', 1951)
 ('Whirlwind assembler', 1951) ('Rochester assembler', 1951)
 ('Sort Merge Generator', 1951) ('autocode', 1952) ('A-0 System', 1952)
 ('Editing Generator', 1952) ('COMPOOL', 1952) ('Speedcoding', 1953)
 ('READ/PRINT', 1953) ('Fortran', 1954) ('ARITH-MATIC', 1954)
 ('autocode', 1954) ('Laning and Zierler system', 1954)
 ('MATH-MATIC', 1954) ('MATRIX MATH', 1954) ('FLOW-MATIC', 1955)
 ('PACT', 1955) ('BACAIC', 1955) ('Freiburger Code', 1955)
 ('Sequentielle Formelübersetzung', 1955) ('Internal Translator', 1955)
 ('PRINT', 1955) ('Information Processing Language', 1956)
 ('FORTRAN for the IBM 704', 1956) ('Fortran', 1957) ('COMTRAN', 1957)
 ('GEORGE', 1957) ('UNICODE', 1957) ('ALGOL 58', 1958) ('Lisp', 1958)
 ('ALGOL', 1958) ('FORTRAN III', 1958) ('FORTRAN II', 1958)
 ('JOVIAL', 1959) ('TRAC', 1959) ('COBOL', 1959) ('MAD', 1959)
 ('Lisp', 1959) ('FACT', 1959) ('COBOL', 1960) ('ALCOR', 1960)
 ('ALGOL 60', 1960) ('FORTRAN IV', 1961) ('TECO', 1962) ('SNOBOL', 1962)
 ('APL', 1962) ('Simula', 1962) ('CORC', 1962) ('CPL', 1963)
 ('JOSS', 1963) ('P′′', 1964) ('Report Program Generator', 1964)
 ('TRAC', 1964) ('BASIC', 1964) ('COWSEL', 1964) ('MARK IV', 1964)
 ('MIMIC', 1964) ('PL/I', 1964) ('Speakeasy', 1964) ('IBM RPG II', 1965)
 ('Atlas Autocode', 1965) ('TELCOMP', 1965) ('Euler', 1966)
 ('ISWIM', 1966) ('ALGOL W', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1966)
 ('JOSS', 1966) ('Coral 66', 1966) ('BCPL', 1966) ('APL', 1966)
 ('FORTRAN 66', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1967)
 ('Hop', 1967) ('XPL', 1967) ('Interlisp', 1967) ('BCPL', 1967)
 ('Simula', 1967) ('Space Programming Language', 1967) ('PILOT', 1968)
 ('ALGOL 68', 1968)]

In [6]:
import numpy as np 
dataset = np.loadtxt("../../data/pl.tsv", dtype={'names': ('name', 'year'), 
       'formats': ('U100', 'i4')}, 
        skiprows=1, delimiter="\t", encoding="UTF-8") 
print(dataset)

[('ENIAC coding system', 1943) ('ENIAC Short Code', 1946)
 ('Von Neumann and Goldstine graphing system', 1946)
 ('ARC Assembly', 1947) ('Plankalkül', 1948) ('CPC Coding scheme', 1948)
 ('Curry notation system', 1948) ('Short Code', 1949)
 ('assembly language', 1949) ('Short Code', 1950)
 ('Birkbeck Assembler', 1950) ('G-code', 1950) ('Superplan', 1951)
 ('ALGAE', 1951) ('Intermediate Programming Language', 1951)
 ('Regional Assembly Language', 1951)
 ('Boehm unnamed coding system', 1951) ('Klammerausdrücke', 1951)
 ('OMNIBAC Symbolic Assembler', 1951) ('Stanislaus', 1951)
 ('Whirlwind assembler', 1951) ('Rochester assembler', 1951)
 ('Sort Merge Generator', 1951) ('Editing Generator', 1952)
 ('COMPOOL', 1952) ('autocode', 1952) ('A-0 System', 1952)
 ('READ/PRINT', 1953) ('Speedcoding', 1953) ('Fortran', 1954)
 ('MATRIX MATH', 1954) ('autocode', 1954) ('ARITH-MATIC', 1954)
 ('Laning and Zierler system', 1954) ('MATH-MATIC', 1954)
 ('FLOW-MATIC', 1955) ('BACAIC', 1955) ('Freiburger Code', 1955)
 ('Sequentielle Formelübersetzung', 1955) ('Internal Translator', 1955)
 ('PRINT', 1955) ('PACT', 1955) ('Information Processing Language', 1956)
 ('FORTRAN for the IBM 704', 1956) ('Fortran', 1957) ('UNICODE', 1957)
 ('COMTRAN', 1957) ('GEORGE', 1957) ('ALGOL 58', 1958) ('Lisp', 1958)
 ('FORTRAN III', 1958) ('FORTRAN II', 1958) ('ALGOL', 1958)
 ('JOVIAL', 1959) ('TRAC', 1959) ('COBOL', 1959) ('Lisp', 1959)
 ('MAD', 1959) ('FACT', 1959) ('COBOL', 1960) ('COBOL', 1960)
 ('ALGOL 60', 1960) ('ALCOR', 1960) ('FORTRAN IV', 1961) ('SNOBOL', 1962)
 ('TECO', 1962) ('Simula', 1962) ('APL', 1962) ('CORC', 1962)
 ('CPL', 1963) ('JOSS', 1963) ('P′′', 1964)
 ('Report Program Generator', 1964) ('TRAC', 1964) ('BASIC', 1964)
 ('COWSEL', 1964) ('PL/I', 1964) ('MARK IV', 1964) ('MIMIC', 1964)
 ('Speakeasy', 1964) ('IBM RPG II', 1965) ('Atlas Autocode', 1965)
 ('TELCOMP', 1965) ('Euler', 1966) ('ISWIM', 1966) ('ALGOL W', 1966)
 ('JOSS', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1966)
 ('BCPL', 1966) ('Coral 66', 1966) ('FORTRAN 66', 1966) ('APL', 1966)
 ('Hop', 1967)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1967)
 ('Space Programming Language', 1967) ('BCPL', 1967) ('Interlisp', 1967)
 ('Simula', 1967) ('XPL', 1967) ('PILOT', 1968)]

In [7]:
# Exo 1.3

from pandas import json_normalize
import pandas as pd
import json

data = json.load(open('../../data/pl.json'))
dataframe = json_normalize(data)
print(dataframe)

                                languageLabel  year
0                         ENIAC coding system  1943
1                            ENIAC Short Code  1946
2   Von Neumann and Goldstine graphing system  1946
3                                ARC Assembly  1947
4                                  Plankalkül  1948
..                                        ...   ...
95                                       BCPL  1967
96                                  Interlisp  1967
97                                     Simula  1967
98                                        XPL  1967
99                                      PILOT  1968

[100 rows x 2 columns]

In [8]:
# Exo 1.4

import urllib.request
import json
import pandas as pd

url = "https://query.wikidata.org/sparql?query=SELECT%20%3FlanguageLabel%20(YEAR(%3Finception)%20as%20%3Fyear)%0AWHERE%0A%7B%0A%20%20%23instances%20of%20programming%20language%0A%20%20%3Flanguage%20wdt%3AP31%20wd%3AQ9143%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20wdt%3AP571%20%3Finception%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20rdfs%3Alabel%20%3FlanguageLabel.%0A%20%20FILTER(lang(%3FlanguageLabel)%20%3D%20%22en%22)%0A%7D%0AORDER%20BY%20%3Fyear%0ALIMIT%20100&format=json"
response = urllib.request.urlopen(url)
responsedata =  json.loads(response.read().decode('utf-8'))

array = []

for data in responsedata['results']['bindings']:
    array.append([data['year']['value'],
     data['languageLabel']['value']])

dataframe = pd.DataFrame(array,
     columns=['year', 'languageLabel'])
dataframe = dataframe.astype(dtype= {"year":"<i4",
     "languageLabel":"<U200"})
print(dataframe)

    year                              languageLabel
0   1942                                 Plankalkül
1   1943                        ENIAC coding system
2   1946                           ENIAC Short Code
3   1946  Von Neumann and Goldstine graphing system
4   1947                               ARC Assembly
..   ...                                        ...
95  1967                 Space Programming Language
96  1968                                      PILOT
97  1968                                       CICS
98  1968                                      Refal
99  1968                                      FOCAL

[100 rows x 2 columns]

In [9]:
# Exo 1.5

grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1942              1
1943              1
1946              2
1947              1
1948              2
1949              1
1950              3
1951             11
1952              4
1953              2
1954              4
1955              8
1956              1
1957              6
1958              2
1959              4
1960              6
1961              1
1962              5
1963              3
1964             11
1965              5
1966              6
1967              6
1968              4

In [3]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('../../data/plparadigm.json'))
array = []

for data in jsondata:
    array.append([data['year'],
                  data['languageLabel'], data['paradigmLabel']])

dataframe = pd.DataFrame(array,
      columns=['year', 'languageLabel', 'paradigmLabel']) 
dataframe = dataframe.astype(dtype= {"year" : "int64",
      "languageLabel" : "<U200", "paradigmLabel" : "<U200"})

# Test 1
grouped = dataframe.groupby(['year',
       'paradigmLabel']).agg(['count'])
print(grouped)

                                            languageLabel
                                                    count
year paradigmLabel
1948 procedural programming                             1
1949 non-structured programming                         1
     procedural programming                             1
1950 procedural programming                             1
1953 procedural programming                             1
...                                                   ...
1970 imperative programming                             1
     procedural programming                             1
     structured programming                             1
1971 functional programming                             1
     knowledge representation and reasoning             1

[73 rows x 1 columns]

In [11]:
# Test 2

grouped = dataframe.groupby(['paradigmLabel',
       'year']).agg(['count'])
print(grouped)

                            languageLabel
                                    count
paradigmLabel          year
array programming      1954             1
                       1957             1
                       1962             1
                       1966             1
assembly language      1956             1
...                                   ...
structured programming 1957             1
                       1958             1
                       1962             1
                       1966             1
                       1970             1

[73 rows x 1 columns]

In [4]:
## First request

#SELECT ?title ?subjectLabel ?year
#{
#  ?article wdt:P31 wd:Q13442814; #scientific article
#           wdt:P1476 ?title; #title of the article
#           wdt:P921 ?subject; #main subject
#           wdt:P577 ?date. #publication date
#  ?subject rdfs:label ?subjectLabel.
#  BIND(YEAR(?date) as ?year).
#  #published after 2010
#  FILTER(lang(?title)="en" &&
#     lang(?subjectLabel)="en" && ?year>2010)
#}
#LIMIT 10000

# Load data from response
jsondata = json.load(open('./jsonQueries/firstQuery.json'))

array = []

for data in jsondata:
    array.append([data['countryLabel'], data['year'], data['population']])
    
# Display the population of countries in alphabetical order of their names and ascending order of year :
dataFrameOne = pd.DataFrame(array, columns=['countryLabel', 'year', 'population']) 
dataFrameOne.sort_values(by=['countryLabel','year'], inplace=True)
#print(dataFrameOne)

# Display the latest available population of every country :
dataFrameTwo = pd.DataFrame(array, columns=['countryLabel', 'year', 'population']) 
dataFrameTwo.sort_values(by=['countryLabel','year'], inplace=True)
latestPerCountry = dataFrameTwo.groupby(['countryLabel']).tail(1)
#print(latestPerCountry)

# Display the country with the lowest and highest population (considering the latest population) :
pd.options.mode.chained_assignment = None  # default='warn' (I removed warnings)

dataFrameThree = pd.DataFrame(array, columns=['countryLabel', 'year', 'population']) 
dataFrameThree.sort_values(by=['countryLabel','year'], inplace=True)
latestPerCountry = dataFrameTwo.groupby(['countryLabel']).tail(1)
latestPerCountry['population'] = pd.to_numeric(latestPerCountry['population']) 
#print(latestPerCountry.loc[[latestPerCountry['population'].idxmax()]])
#print(latestPerCountry.loc[[latestPerCountry['population'].idxmin()]])

# I had to remove warnings since my call to pd.to_numeric apparently fucked something up

        countryLabel  year population
57       Afghanistan  2021   37466414
113          Albania  2017    2873457
170          Algeria  2020   43900000
226   American Samoa  2020      55197
285          Andorra  2021      78151
...              ...   ...        ...
8441         Vietnam  2018   94660000
8469           Wales  2016    3113000
8476           Yemen  2017   28250420
8533          Zambia  2017   17094130
8588        Zimbabwe  2017   16529904

[187 rows x 3 columns]

In [42]:
## Second request 

#SELECT ?title ?subjectLabel ?year
#{
#  ?article wdt:P31 wd:Q13442814; #scientific article
#           wdt:P1476 ?title; #title of the article
#           wdt:P921 ?subject; #main subject
#           wdt:P577 ?date. #publication date
#  ?subject rdfs:label ?subjectLabel.
#  BIND(YEAR(?date) as ?year).
#  #published after 2010
#  FILTER(lang(?title)="en" &&
#     lang(?subjectLabel)="en" && ?year>2010)
#}
#LIMIT 10000

# Load data from response
jsondata = json.load(open('./jsonQueries/secondQuery.json'))

array = []

for data in jsondata:
    array.append([data['title'], data['subjectLabel'], data['year']])

# Display the number of articles published on different subjects every year.
dataFrameOne = pd.DataFrame(array, columns=['title', 'subjectLabel', 'year']) 
nbOfArticlePerYearPerSubject = dataFrameOne.groupby(['year', 'subjectLabel'], as_index=False).count().rename(columns={'title':'count'})
#print(nbOfArticlePerYearPerSubject)

# Display top subject of interest to the scientific community every year(based on the above query results).
dataFrameTwo = pd.DataFrame(array, columns=['title', 'subjectLabel', 'year']) 
nbOfArticlePerYearPerSubject = dataFrameTwo.groupby(['year', 'subjectLabel'], as_index=False).count().rename(columns={'title':'count'})
nbOfArticlePerYearPerSubject.sort_values(by=['count'], inplace=True)
topSubjectPerYear = nbOfArticlePerYearPerSubject.groupby(['year']).tail(1)
topSubjectPerYear.sort_values(by=['year'], inplace=True)
#print(topSubjectPerYear)

# Display top 10 subjects of interest to the scientific community (based on the above query results) since 2010.
dataFrameThree = pd.DataFrame(array, columns=['title', 'subjectLabel', 'year']) 
dataFrameFiltered = dataFrameThree.loc[dataFrameThree['year'] >= "2010"]
nbOfArticlePerYearPerSubject = dataFrameFiltered.groupby(['year', 'subjectLabel'], as_index=False).count().rename(columns={'title':'count'})
nbOfArticlePerYearPerSubject.sort_values(by=['count'], inplace=True)
topSubjectPerYear = nbOfArticlePerYearPerSubject.groupby(['year']).tail(1)
topSubjectPerYear.sort_values(by=['count'], inplace=True, ascending=False)
print(topSubjectPerYear[:10])

    year subjectLabel  count
10  2013       Canada    573
25  2016       Canada    560
20  2015       Canada    522
15  2014       Canada    522
5   2012       Canada    520
1   2011       Canada    490
30  2017       Canada    275
34  2018       Canada    168
39  2019    happiness    135
43  2020    happiness     39

/mnt/c/Users/V3D/Desktop/COURS/MachineLearning/env/lib/python3.6/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/mnt/c/Users/V3D/Desktop/COURS/MachineLearning/env/lib/python3.6/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy